<div class="card-columns m-3 mt-5">

  {% for post in paginator.posts %}

    {% assign project_type  = "local" %}
    {% assign project_id    =  post.name | slugify %}
    {% assign project_img   = post.image %}
    {% assign project_name  = post.title %}
    {% assign project_desc  = post.description %}
    {% assign project_tools = post.tools %}

    {% if project.external_url %}
      {% assign project_url = post.external_url %}
    {% else %}
      {% assign project_url = post.url | relative_url %}
    {% endif %}

    {% include articles/project-card.html %}

  {% endfor %}
</div>

    <!-- Pagination links -->
    <div class="mx-auto my-3 text-center"">
  
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="badge badge-primary"><</a>
      {% else %}
        <span class="badge badge-light text-muted"><</span>
      {% endif %}
  
      <small class="mx-2"> Página <b>{{ paginator.page }}</b> of {{ paginator.total_pages }} </small>
  
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="badge badge-primary">></a>
      {% else %}
        <span class="badge badge-light text-muted">></span>
      {% endif %}
  
    </div>
    
 